################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BaddersNetCore/obj/Debug/netcoreapp3.0
/.vs/BaddersNetCore
